@charset "UTF-8";
* {
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0;
}

header {
  width: 100%;
}

nav {
  height: 50px;
  background-color: #212121;
}

.humburger {
  display: none;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu__link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

.menu__item {
  border-right: 2px dotted #151515;
  padding-right: 28px;
}

.menu__item:last-child {
  border-right: none;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader__logo {
  max-width: 244px;
}

.subheader__oficial {
  opacity: 0.5;
  color: #ffffff;
  font-family: "Roboto - Thin";
  font-size: 13px;
  font-weight: 400;
}

.subheader__call p {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin: 19px 0 0px 0;
  text-align: right;
}

.subheader__phone {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 8px;
  text-align: right;
}
.lg-hidden {
  display: none;
}
.subheader__btn {
  margin-top: 19px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  width: 172px;
  height: 46px;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
}

.promo {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  min-height: 800px;
  background: url(../img/promo-bg.jpg) center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo__header {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 800;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0px;
}

.promo__subheader {
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0px;
}

.promo__descr {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 23px;
  text-align: center;
}

.promo__btn {
  display: block;
  margin: 118px auto 135px auto;
  width: 259px;
  height: 63px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 3px;
}

/* advantages */
.advantages {
  position: relative;
  z-index: 0;
}

.advantages__title {
  width: 112px;
  height: 24px;
  color: #ffffff;
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  background-color: #000000;
  margin: 71px auto 38px auto;
  padding-top: 5px;
}

.avanteges__subtitle {
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 40px auto;
}

.row__advantages {
  max-width: 1062px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.item__img {
  position: relative;
  z-index: 0;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 50%;
  padding: 25px 19px 22px 14px;
  margin: 10px 26px 18px 0;
}

.advantages__item {
  display: flex;
  max-width: 466px;
}

.item__text {
  max-width: 341px;
}

.item__title {
  color: #1eacc7;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
}

.item__subtitle {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

/* Mobile */
.mobile {
  margin: 0 auto;
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url(../img/mobile/mobile-bg.png) center center/cover no-repeat;
}

.mobile .row {
  margin-top: 32px;
}

.mobile__item {
  position: relative;
  width: 320px;
  height: 280px;
  opacity: 0.9;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

.mobile__item__1 {
  background: url(../img/mobile/screen1.jpg) center center/cover no-repeat;
}

.mobile__item__2 {
  background: url(../img/mobile/screen2.jpg) center center/cover no-repeat;
}

.mobile__item__3 {
  background: url(../img/mobile/screen3.jpg) center center/cover no-repeat;
}

.mobile__item__4 {
  background: url(../img/mobile/screen4.jpg) center center/cover no-repeat;
}

.mobile__item__5 {
  background: url(../img/mobile/screen5.jpg) center center/cover no-repeat;
}

.mobile__item__6 {
  background: url(../img/mobile/screen6.jpg) center center/cover no-repeat;
}

.mobile__item__subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.mobile__item__plus {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}

.label {
  width: 112px;
  height: 24px;
  margin: 0 auto;
  padding: 5px 12px;
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
  background-color: #000000;
  text-align: center;
  color: #ffffff;
}

.title {
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.subtitle {
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  margin-top: 19px;
}

/* Choise */
.choise {
  background: url(../img/Choise/full_bg.jpg) no-repeat;
  max-height: 896px;
}

.choise__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 57px;
}

.choise__label {
  margin-bottom: 32px;
  background-color: #ffffff;
  color: #070716;
}

.choise__title {
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
}

.choise__subtitle {
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
}

.choise__img {
  margin-top: 40px;
}

.choise__text {
  text-align: center;
  margin-bottom: 138px;
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}

/* require */
.require {
  padding: 68px 0 54px 0;
}

.require__block {
  margin: 33px 0;
}

.require__block__nmb {
  margin-bottom: 0;
}

.require__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  color: #1ca8c3;
}

.require__list {
  display: inline-block;
  color: #222222;
  margin-top: 22px;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  list-style-type: none;
  padding-left: 50px;
  text-align: left;
}

.require__list li {
  margin-bottom: 10px;
}

.require__list li::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 20px;
  background: url(../img/icon.png) center center/cover no-repeat;
  transform: translate(-5px, -2px);
}

.require__list .mbl {
  margin-left: 21px;
}

.require__descr {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: #1ca8c3;
}

.red__block {
  /* Добавляет красные тайтлы и красные иконки */
}

.red__block .require__title {
  color: #ff5656;
}

.red__block .require__list li::before {
  background: url(../img/icon__red.png) center center/cover no-repeat;
}

/*Cities*/
.cities {
  background: url(../img/Cities/cities_bg.jpg) center center/cover no-repeat;
  min-height: 717px;
  padding-top: 49px;
}

.cities__text {
  color: #1fbad6;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-top: 486px;
}

/* Footer */
.footer {
  width: 100%;
  min-height: 156px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__body-left {
  padding: 0px;
  margin-left: -17px;
  width: 33.333%;
}

.footer__body-right {
  padding-top: 52px;
  width: 33.333%;
  text-align: end;
}

.left__list {
  display: flex;
  flex-direction: row;
}

.list__link {
  list-style-type: none;
  background-color: #070716;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-top: 51px;
  margin-right: 9px;
  transform: translateX(-9px);
}

.footer__body-center {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__body-center {
  width: 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 14px;
}

.center__line {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
}

.center__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-right__img {
  margin-right: 31px;
}

.lng__btn {
  background: none;
  border: none;
}

.lng__btn__link {
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}

.btn__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn__btn {
  background: none;
  border: none;
}

.btn__link {
  color: #070716;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

.second_row_btn {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer__blackLine {
  display: block;
  width: 100%;
  height: 8px;
  background-color: #070716;
}

@media (max-width: 1200px) {
  .lg-hidden {
    display: none;
  }
  .menu__item {
    padding-right: 20px;
  }
  .menu__link {
    font-size: 13px;
  }
  .promo__header {
    font-size: 50px;
  }
  .item__img {
    margin: 3px 26px 18px 0;
  }
}

@media (max-width: 991px) {
  .lg-hidden {
    display: none;
  }
  .advantages__item {
    flex-direction: column;
    align-items: center;
  }
  .menu__item {
    padding-right: 11px;
  }
  .menu__link {
    font-size: 10px;
  }
  .subheader__logo img {
    width: 100%;
    margin-top: 10px;
  }
  .subheader__call p {
    margin-top: 10px;
  }
  .subheader__phone {
    font-size: 20px;
  }
  .subheader__oficial p {
    font-size: 11px;
  }
  .subheader__btn {
    width: 141px;
    height: 40px;
  }
  .choise__img img {
    width: 100%;
  }
  .mobile__item {
    width: 228px;
    height: 217px;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer__body-left {
    margin-left: 0;
  }
  .left__list {
    justify-content: center;
  }
  .promo__header {
    font-size: 41px;
  }
  .item__img {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .lg-hidden {
    display: inline;
  }
  .header__menu {
    position: fixed;
    flex-direction: column;
    align-items: center;
    z-index: 50;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.6s;
  }
  .menu_active {
    left: 0;
  }
  .menu__item {
    border: none;
    padding-right: 0;
  }
  .menu__link {
    font-size: 20px;
  }
  .humburger {
    position: absolute;
    display: block;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 12px;
  }
  .humburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 5px;
    transition: all 0.5s;
  }
  .hamburger_active {
    top: 20px;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    transform: rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    transform: rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .subheader__btn {
    margin-top: 9px;
  }
  .subheader__logo img {
    margin-top: 21px;
  }
  .subheader__phone {
    position: relative;
    top: 10px;
    font-size: 17px;
  }
  .advantages__item {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .title {
    margin-top: 15px;
    font-size: 16px;
  }
  .subtitle {
    font-size: 14px;
    margin-top: 11px;
  }
  .mobile__item {
    width: 290px;
    height: 254px;
    opacity: 0.9;
  }
  .mobile__item__subtitle {
    font-size: 18px;
    line-height: 31px;
  }
  .require__list {
    padding-left: 0px;
    text-align: left;
    font-size: 14px;
  }
  .footer__body-right,
  .footer__body-left {
    width: 100%;
  }
  .btn__link {
    font-size: 14px;
  }
  .second_row_btn {
    font-size: 11px;
  }
}
/*# sourceMappingURL=style.css.map */